<!-- <div class="grid"> -->
<!-- <div
  class="empty-resources col-6 col-offset-3 align-content-center flex align-items-center justify-content-center"
> -->
<!-- <div class="col-6 col-offset-3 col-offset-3"> -->
<div class="col-6 col-offset-3 web-empty-resources">
  <img
    src="../../../../assets/images/empty-resources.png"
    class="empty-resources-image text-center"
  />
  <!-- </div> -->
  <div class="text-center">
    <h4 class="message">{{ emptyResourcesMessage }}</h4>
    <p class="sub-message">{{ emptyResourcesSubMessage }}</p>

    <ng-content select="[empty-resources-footer]"></ng-content>
  </div>
</div>
