<div class="col-12 align-content-center p-8" style="height: 100vh">
  <div class="col-10 col-offset-1">
    <div class="col-12 grid">
      <div class="col-8 align-content-center">
        <h1>Stoinks!</h1>
        <h2>You have placed an invalid URL</h2>
        <p>We can't seem to find the page you're looking for</p>
        <a href="/dashboard"><h5>Return to dashboard</h5></a>
      </div>
      <div class="col-4">
        <img
          src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmFjZWR6MjNqazl6czh1am4wYWw5bTU0eTloYjd4OXYxYnRtdmdwZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l1J9u3TZfpmeDLkD6/giphy.webp"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
