<div class="web-view-all-bills">
  <div class="col-12 grid pr-0 mt-0 pt-0">
    <div class="col-2 pl-0">
      <div class="border border-round border-500 h-15rem shadow-3 mb-4">
        <web-bills-list
          [options]="menuItems"
          [lists]="menuItems"
          [initSelectedBills]="menuItems[0].name"
        >
        </web-bills-list>
      </div>

      <label class="mb-0 text-600">Month</label>
      <p-calendar
        view="month"
        dateFormat="mm/yy"
        [showIcon]="true"
        [readonlyInput]="true"
        [(ngModel)]="initialDate"
      />
    </div>
    <div class="col-7">
      <div
        class="bill-cards overflow-hidden lg:overflow-auto surface-overlay border border-round border-500 grid shadow-3 just justify-content-center pt-2 pb-2 mt-0"
        style="height: 39rem"
      >
        <web-bills-cards
          *ngFor="let bill of viewAllBillsAPI"
          [bills]="bill"
          class="p-2"
          (onViewBill)="onView(bill)"
        ></web-bills-cards>
      </div>
    </div>
    <div class="col-3 pr-0">
      <div
        class="bill-display border border-round border-500 shadow-3 mb-5 justify-content-center p-3 overflow-hidden lg:overflow-auto surface-overlay"
      >
        <web-view-bill-by-name
          [bills]="viewBillByNameAPI"
          *ngIf="isViewBill"
        ></web-view-bill-by-name>
        <div
          class="text-center align-content-center"
          *ngIf="!isViewBill"
          style="height: 100%"
        >
          <p>Please select a bill to display</p>
        </div>
      </div>
    </div>
  </div>
</div>
